[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
records = "*"
psycopg2 = "*"
maya = "*"
flask-sslify = "*"
pyquery = "*"
pandas = "*"
html5lib = "*"
bs4 = "*"
requests = "*"
simplejson = "*"
