<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Coinbin.org: A Human–Friendly API Service for Crypto Currency Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tufte.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='latex.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
      }
    </script>

  </head>

  <body>

    <article>
      <h1 id="tufte-css">₿ Coinbin.org</h1>

      <p class="subtitle">A Human–Friendly API Service for Crypto Currency Information.</p>

      <p>This service provides machine (and human) friendly JSON data for all known crypto–currencies. All {{ coins|length }} active & known coins are supported.</p>

      <p>Historical data, exchange rates, conversion ratios, and value conversion endpoints are all available, free of charge. Data is refreshed every five minutes.</p>

      <p>There is no rate limit. There never will be.</p>


      <h2>Example API Endpoints</h2>
      <p></p>
      <code><strong>$ curl <a href="https://coinbin.org/lbc">https://coinbin.org/lbc</a></strong></code>
      <!-- <p><small>Returns current market data for any given coin.</small></p> -->
      <!-- <q>Returns current market data for any given coin.</q> -->
      <pre>
{{ lbc.data.decode('utf-8') }}
      </pre>
      <p></p>
<code><strong>$ curl <a href="https://coinbin.org/lbc/42.01">https://coinbin.org/lbc/42.01</a></strong></code>
      <pre>
{{ lbc_42.data.decode('utf-8') }}
      </pre>

      <p></p>
<code><strong>$ curl <a href="https://coinbin.org/lbc/to/sc">https://coinbin.org/lbc/to/sc</a></strong></code>
      <pre>
{{ lbc_sc.data.decode('utf-8') }}
      </pre>


      <p></p>
<code><strong>$ curl <a href="https://coinbin.org/lbc/42.01/to/sc">https://coinbin.org/lbc/42.01/to/sc</a></strong></code>
      <pre>
{{ lbc_42_sc.data.decode('utf-8') }} </pre>

      <p></p>
<code><strong>$ curl <a href="https://coinbin.org/lbc/history">https://coinbin.org/lbc/history</a></strong></code>
      <pre>
{
  "history": [
    {
      "timestamp": "2017-08-24T04:00:55.932092Z",
      "value": 0.3404,
      "value.currency": "USD",
      "when": "today"
    }, ...

... {
      "timestamp": "2016-07-12T04:01:09.167162Z",
      "value": 0.239634,
      "value.currency": "USD",
      "when": "Jul 12 2016"
    }
  ]
}</pre>
<p><small>This endpoint returns up to four years of daily USD data, on any given coin.</small></p>

<h2>Pro Version</h2>

<p>We're collecting historical data, moving forward<label for="sn-in-his-later-books" class="margin-toggle sidenote-number"></label></span><input type="checkbox" id="sn-in-his-later-books" class="margin-toggle"/><span class="sidenote"><em>We may backfill our historical data as well, if customers interest is high.</em></span>, every ten minutes (instead of daily). If you'd like access to this data, <a href="mailto:me@kennethreitz.org">send us an email</a>. We accept payment in coins.</p>

<h2>Experimental (e.g. <em>fun</em>) Endpoints</h2>

      <h3><a href="https://coinbin.org/btc/forecast/graph">Prediction of BTC Price</a> (using <em>machine learning</em>)</h3>
      <p>&nbsp;</p>
      <p><em><strong>Note — </strong>This information is presented for informational purposes
        only, and is not recommended for making actual trading decisions.</em></p>




        <iframe src="/btc/forecast/graph" frameborder="0" scrolling="no" onload="resizeIframe(this)" width="80%"></iframe>


      <p></p>
<code><strong>$ curl <a href="https://coinbin.org/btc/forecast">https://coinbin.org/btc/forecast</a></strong></code>
      <pre>
{{ lbc_forecast.data.decode('utf-8') }} </pre>


<h2>Full List of Supported Coins (Ordered by Rank)</h2>

  <p></p>
<code><strong>$ curl <a href="https://coinbin.org/coins">https://coinbin.org/coins</a></strong></code>
      <pre>
{
  "coins": [{% for coin in coins %}
    "<strong><a href="/{{ coin['ticker'] }}">{{ coin['ticker'] }}</a></strong>":
      {{ coin|tojson }},{% endfor %}
  ]
}
      </pre>


<h2>More Resources</h2>
<ul>
  <li><a href="https://github.com/kennethreitz/awesome-coins">Awesome Crypto Currency Tools & Algorithms (Guide)</a></li>
</ul>


    </article>

  <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '599e2dbcbad3a763b70d2f2f');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<a href="https://github.com/kennethreitz/coinbin.org" class="github-corner" aria-label="View source on Github">
  <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
    <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
    <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
    <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
  </svg>
</a>
<style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

  </body>
</html>
